/* #navBar{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 4%;
}

#sidebar{
    left: 10%;
    padding: 0%;
    margin: 0%;
    width: 0%;
    height: 4%;
} */

#viewDiv{
    padding: 0%;
    margin: 0%;
    width: 100%;
    height: 100%;
}

#select {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    flex-direction: column;
    gap: 8px; /* Adjust the gap between the selects as needed */
    background-color: wheat;
    padding: 10px;
    margin: 20px;
    transition: all 0.3s ease; /* Optional: add a smooth transition effect */
}

#folder,
#Service,
#Layer {
   
    width: 200px; 
    padding: 5px;
    margin: 5px;
   
}

#refresh{
    background-color: rgb(139, 216, 94);
    padding: 2px;
    /* color: red; */
}

